.reservationButton {
  font-size: xx-small; /* Justerer tekststørrelsen for at gøre knappen mindre */
  padding: 4px 8px; /* Justerer padding for at gøre knappen mindre */
  background-color: #128b52;
  border: none;
  color: rgb(208, 222, 148);
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

#houseSection {
  font-size: small;
  font-style: italic;
  color: rgb(208, 222, 148);
  margin: 0 auto; /* Adjust the margin as desired */
  max-width: 960px; /* Adjust the max-width as desired */
}

/* .imageHouseOne,
[name^="imageHouse"] {
  max-width: 10%;
  height: auto;
} */


 .imageHouseOne {
    float: left; 
    margin-right: 10px;
}

#imageHouseOne {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
  }

#housesHeader, #housesText {
    padding-left: 20px;
} 

.housesGrid {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr; 
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
  max-width: 800px; 
  margin: 0 auto;  /* Centers the grid horizontally */
}

.house {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc; /* HUSK! fjern border før aflevering  */
}

.house h2,
.house p,
.house a {
  margin: 0;
}

.house-details {
  flex-grow: 1;
  padding-left: 20px;
}

.imageHouseOne {
  object-fit: fill;
/*   width: 100%; 
  height: auto; */
} 

.housePicture {
  background-size: cover;
  background-position: center;
}

.housePicture1 img,
.housePicture2 img,
.housePicture3 img,
.housePicture4 img,
.housePicture5 img {
  width: 500px; 
  height: auto; 
}

.housesGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
