.reservationButton {
  font-size: xx-small; /* Justerer tekststørrelsen for at gøre knappen mindre */
  padding: 4px 8px; /* Justerer padding for at gøre knappen mindre */
  background-color: #128b52;
  border: none;
  color: rgb(208, 222, 148);
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

#houseSection {
  font-size: small;
  font-style: italic;
  color: rgb(208, 222, 148);
  margin: 0 auto; /* Adjust the margin as desired */
  max-width: 960px; /* Adjust the max-width as desired */
}

/*.imageHouseOne,
[name^="imageHouse"] {
  max-width: 10%;
  height: auto;
}
 */

/* .imageHouseOne {
    float: left; 
    margin-right: 10px;
}

#imageHouseOne {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
        }

#housesHeader, #housesText {
    padding-left: 20px;
} */



div[name="houseOne"],
div[name="houseTwo"],
div[name="houseThree"],
div[name="houseFour"],
div[name="houseFive"] {
  border: 1px solid rgb(208, 222, 148);
  padding: 10px;
  margin-bottom: 10px;
  font-size: x-small;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
}

div[name="houseOne"] img,
div[name="houseTwo"] img,
div[name="houseThree"] img,
div[name="houseFour"] img,
div[name="houseFive"] img {
  max-width: 50px;
  height: auto;
}

div[name="houseOne"] h2,
div[name="houseTwo"] h2,
div[name="houseThree"] h2,
div[name="houseFour"] h2,
div[name="houseFive"] h2,
div[name="houseOne"] p,
div[name="houseTwo"] p,
div[name="houseThree"] p,
div[name="houseFour"] p,
div[name="houseFive"] p {
  margin: 0;
}