.slider {
    position: relative;
    height: 600px; 
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .slide:first-child { /* this rule ensures that the first slide is initially displayed when the page loads. 
                          The subsequent slides are set to display: none in the CSS, so only the first slide is visible by default. 
                          As the automatic slider progresses, JavaScript/jQuery is used to hide the current slide and show the next slide, 
                          creating the effect of a slideshow.*/
    display: block;
  }