html, body {
    background-color: #1D5534;
    color: white;
    box-sizing: border-box;
    font-family: Cambria, Georgia, serif;
}

/* .headerLogo {
    font-size: larger;
    width: 10px;
    height: 10px;
} */

/* Styling af SPACED OUT logo  */
img {
    width: 400px;
    height: 100px;
}  

/* Nedstående er navigation */
.primaryNavigation {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* Styling af Li'er */
.primaryNavigation__menuItem {
    list-style: none;
}

/* Styling af links (a-tags)*/
.primaryNavigation__link {
    text-decoration: none;
    color: white;
    font-family: inherit; 
    transition: font-size 0.3s, border-bottom 0.3s;  /* adds a smooth transition animation for the font size and border-bottom changes. */
}

.primaryNavigation__link:hover {  /* targets the navigation links when they are hovered over */
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

/* Styling af burger menu */
.burgerMenuButton {
    display: none; 
}

main {
    border: 2px solid rgb(225, 232, 170);
    padding: 2px;
    margin: 20px;
}

.content {
    overflow: auto;
  }

#h1 {
    text-align: right;  
}

/* Styling af billede i main */
#frontImage {
    width: 500px; /* Adjust the width as desired */
    height: 500px; /* Adjust the height as desired */
    border-radius: 0 100% 100% 0; /* Adjust the border-radius as desired */
    /* background-color: rgb(208, 222, 148); Color used before picture was chosen - kept to use as a placeholder in case I change my mind */
    background-image: url("img/house1/TinyHouse1-1.jpg");
    float: left;
  }


  #firstParagh {
    margin-left: 530px; /* Adjust the spacing between the paragraph and the half circle */
    font-style: italic;
    font-size: smaller;
  }

  /* Styling af knappen */
  .button {
    background-color: #128b52;
    border: none;
    color: rgb(208, 222, 148);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

  #frontPageAdress {
    text-align: center;
  }

/* Styling af billederne i footeren */
.footer a img{
    width:20px;
    height:20px;
}


/* Styling af mobile version */
 @media screen and (max-width: 660px) {
    img {
         width: 400px;
         height: 400px!;
    }
    .burgerMenuButton {
        display: inline;
        border: none;
        background: transparent;
    }
} 