html, body {
    background-color: #1D5534;
    color: white;
    box-sizing: border-box;
    font-family: Cambria, Georgia, serif;
}

/* .headerLogo {
    font-size: larger;
    width: 10px;
    height: 10px;
} */

/* Styling af SPACED OUT logo  */
img {
    width: 400px;
    height: 100px;
}  

/* Nedstående er navigation */
.navbar_links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* Styling af Li'er */
.navbar_linkitem {
    list-style: none;
}

/* Styling af links (a-tags)*/
.navbar_link {
    text-decoration: none;
    color: white;
    font-family: inherit; 
}

main {
    border: 2px solid rgb(225, 232, 170);
    padding: 2px;
    margin: 20px;
}

/* Styling af billede i main */
#frontImage {
    width: 90px;
    height: 180px;
    border-radius: 0 12rem 12rem 0;
    background-color: rgb(208, 222, 148);
  }

/* Styling af billederne i footeren */
.footer a img{
    width:20px;
    height:20px;
}


/* Styling af mobile version */
/* @media screen and (max-width: 480px) {
    img {
         width: 400px;
    }
} */